@import "bootstrap-sprockets";
@import "bootstrap";

.blurb{
  border: 2px solid black;
  width: 400px;
}

.teams{
  text-align: left;
  font-size: 40px;
  color: #025445;
  //text-align: left;
  margin: 0px 10px;
}

.players{
  font-size: 25px;
  text-align: left;
  margin: -15px 10px 0px 10px;
  
}

.ideas{
  font-size: 18px;
  text-align: center;
  padding: 10px;
}

.logo{
  position: relative;
  
  left: -75px;
}

.logo:hover {
  position: relative;
  background-color: white !important;
  left: -75px;
}


.hello {
    background-image: url("picks-backgrounds.jpg");
    background-size: 100% 475px;
    background-repeat: no-repeat;
    background-color: white;
}



.poppy{
    
    
    position: relative;
    top: -325px;
    left: 690px;
    
    
    
}




/*p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: black;
  }
  &:hover {
    color: #fff;
    
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
*/

